@charset "utf-8";
/* RESETS */
* { 
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    overflow-y:scroll;
}

body {
    font: 16px 'Lucida Grande', sans-serif;
    color: #555;
    background: url(../img/body.png)
}

a {
    padding:9px 10px 8px;
    color:#333;
    font-size:15px;
    line-height:20px;
    text-decoration:none; 
}

a:hover {
    text-shadow:1px 1px #6a8c1a;
    text-decoration:none;
}

ul {
    list-style:none;
}

/**
 * Fonts
 */

/**
 * Layout  in base.html
 */
#wrapper {
    width: 85.4%;/*965px;*/
    margin:auto;
}

#header {
    width: 85.4%;
    padding-bottom: 4px;
    position: absolute;
    top: 0;
}

#header #logo a {
    float: left;
    color: #fff;
    text-shadow: 1px 1px #3d5d7b;
    padding: 67px 0 0 0;
    height: 0px;
    width: 200px;
    overflow: hidden;
    display: block;
    background: url(../img/logo.png) no-repeat left top;
    font-size: 40px;
    letter-spacing: -1px;
}

#header #logo a:hover {
    background: url(../img/logo.png) no-repeat -200px top;
}

#header #menu{
    margin-left:61.8%;
}

#header .header-navigation {
    float:left;
    margin-top:8px;
    margin-left:61.8%;
}
#header .header-navigation a {
    padding:8px;
    color:#333;
    font-size:17px;
    line-height:18px;
    font-weight:normal;
    border:1px solid transparent;
}
#header .header-navigation a:hover {
    color:#0d1d3b;
    border:1px solid white;
    text-shadow:-1px 1px #d6d6d6;
}
#header .header-navigation li{
    display: block;
    float:left;
}

#main {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    background:transparent;
    padding:20px;
    margin-top:100px;
}
#main-content{
    clear: both;
}
#footer .footer-navigation{
    padding:0 10px;
}
#footer .footer-navigation li {
    display:inline;
}
#footer .footer-navigation a{
    margin-right:10px;
    color:#2d4d6b;
    float:left;
    display:block;
    font-weight:normal;
    padding:10px;
    text-shadow:1px 1px #bde0ff;
}
#footer .footer-navigation a:hover {
    color:#0d1d3b;
}

/* box level
 */


.box-container {
    float:left;
    color:#d1e8ff;
}
#box {
}

#left-box {
    padding:2%;
    width: 57.8%
}
#right-box { 
    padding:2%;
    width: 34.2% 
}

.boxed {
    border:1px solid #b4d6f5;
    margin-bottom:20px;
    padding:10px;
    background:url(../img/box-grad.png) repeat-x left top #3f668b;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}



/**
 task part
 */
.add-new-task{
    font-size:20px;
    color:white;
}
.add-new-task:hover {
    text-shadow:1px 1px #6a8c1a;
    color:#0d1d3b;
}
.task-create {
    position:relative;
}
.task-create .edit-left {
}

.task-create .edit-right {
}




.task-div {
}
.task-div-body{
}
.task-li{
    margin:10px 0 5px 0;
    border:1px solid white;
}
.task-header{
}
.task-priority{

}
.task-title{
    font-family:Arial;
    margin-left:3px;
    font-weight:bold;
    letter-spacing:1;
    font-size:23px;
}
.task-rate{
    text-align:center;
    position:static;
    left:40%;
}
.task-remove{
}
.task-info{
    display:block;
    padding:10px;
    border-radius: 20px;/* not in use, cuz cant see*/
    a-moz-border-radius: 10px;
    a-webkit-border-radius: 10px;
    background:url(../img/login.jpg) repeat left 2px;
}
.task-footer * {
    display:inline-block;
}
.task-tag {
    visibility:hidden;
    position:fixed;
}



/**
 * login reg part
 */
label{
    display:block;
    float:left;
    font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
    font-size:111%;
    width:111%;
    margin:11%
}

input[type="password"], input[type="text"] {
    border:2px solid #DDDDDD;
    clear:none;
    display:inline-block;
    float:left;
    font-size:16px;
    padding:3px;
    margin-left:13px;
    width: 350px;
}

textarea {
    font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
    border:2px solid #DDDDDD;
    font-size:13px;
    padding:3px;
    width: 350px;
}

div.help-text{
    color:red;
    display:block;
    float:left;
    font-size:11px;
    font-style:italic;
    text-shadow:1px -1px red;
    width:120%;
}
.login-footer{
    margin-top:20px;
}
.login-footer a{
    vertical-align: sub;
    padding-left:20;
}
.opt-btn{
    background: #1E95E5;
    color: rgba(255, 255, 225, .7);
    box-shadow: 0 1px 0 rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.15) inset;
    border: 1px solid #147DCD;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    padding: 6px 15px;
    text-align: center;
    vertical-align: baseline;
    border-radius: 5px;
}


.input-button{
    background: #1E95E5;
    color: rgba(255, 255, 225, .7);
    box-shadow: 0 1px 0 rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.15) inset;
    border: 1px solid #147DCD;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    padding: 6px 15px;
    text-align: center;
    vertical-align: baseline;
    border-radius: 5px;
    float: left;
}








/**
CANT TOUCH THIS
 */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
