<html>
    <head>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/ajax_csrf.js"></script>
    </head>

    <body>
	{% csrf_token %}
	
	
        <a id="get_link" href='#'>get link</a>
        <div id="get_data"></div>
        
		<hr><br>
		 <a id="post_link" href='#'>post link</a>
        <div id="post_data"></div>
		
		
    <script type="text/javascript" src="{{STATIC_URL}}mine.js">
	</script>
    </body>
</html>
