<div class="task-create">
    <h3>I want to…</h3>
    <a href="#" class="add-new-task">Add New Task</a>
    <div class="new-task-box">

        <a class="task-title">Title</a>
        <input class="task-title-input" value="">
        <br>


        <input class="task-detail-input" value="">
        <br>

        <a class="task-tags">Tags</a>
        <input class="task-tags-input" value="">
        <br>

        <div class="edit-op">
            <button class="confirm">confirm</button>
            <button class="cancel">cancel</button>
        </div>
    </div>
</div>
