<div id="task-create-box" class="task-create boxed">
    <a href="#" class="add-new-task">Add New Task</a>
    <div id="edit-task-box" class="edit-task-box">

        <a class="task-title">Title</a>
        <input class="task-title-input" value="">
        <br>


        <textarea class="task-detail-input" value="">
        </textarea>
        <br>

        <a class="task-tags">Tags</a>
        <input class="task-tags-input" value="">
        <br>

        <div class="task-edit-option">
            <button class="confirm opt-btn">confirm</button>
            <button class="cancel opt-btn">cancel</button>
        </div>
    </div>
</div>
