{% extends "base.html" %}
{% block title %}Edit profile{% endblock %}
{% block content %}
<h1>Edit Profile</h1>
<form id="edit_profile-form" method="post" action="" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}
    {% for field in form %}
        <div class="input clearfix">
            {{ field }}
            {% if field.help_text %}
                <p class="help_text">{{ field.help_text }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <div class="submit">
        <input class="submit-button save" type="submit" value="Save"/>
    </div>
</form>
{% endblock %}
