
{% extends "base.html" %}

{% block title%}Account Login{% endblock%}

{% block content %}
{% if messages %}
<div class="help-text">
<ul class="help-text">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
</div>
<div class="login-div">
{% endif %}
    <form action="" method="post">{% csrf_token %}
    <table border="0" cellpadding="0" >
        {{form.as_table}}        
    </table>
    <div class="login-footer">
        <input type="submit" value="登录" class="input-button"/>
        <a href="/account/register/">注册</a> <a href="/account/index/">返回首页</a> 
    </div>
    </form>
{% endblock %}
</div>
