<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title%}{% endblock%}
            {% if home_page %}{% endif %}
        </title>
        <link rel="shortcut icon" href="{{STATIC_URL}}img/eagle.ico" />
        <link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/base.css"/>
        <!--
        <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/reset.css" />
        <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/text.css" />
        <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/960_12_col.css" />
        -->
        {% block extra_css %}{% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% csrf_token %}
        <div id="wrapper">
            <div id="header" class="clearfix">
                <div id="logo" >
                    <a href="/account/index/"></a>
                </div>
                <div id="menu" class="menubar clearfix">
                    <ul class="header-navigation">
                        {% if user.is_authenticated %}
                        <li>
                        <a class="first" href="/account/userinfo/">{{user.username}}</a>
                        </li>
                        <li>
                        <a href="/account/logout/">Logout</a>
                        </li>
                        {% else %}
                        <li class="first" id="login"><a href="/account/login/">Login / Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div id="main" class="main clearfix">
                <div id="main-content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

            <div id="footer">
                <ul class="footer-navigation">
                    <li><a href="/about/">About</a></li>
                    <li><a href="/faq/">FAQ</a></li>
                    <li><a href="/legal/">Legal</a></li>
                    <li><a href="#">{% now "Y" %} Eagle | eagle.com</a></li>
                </ul>
            </div>
        </div>


        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/ajax_csrf.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/base.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.editable-1.3.3.js"></script>
        {% block extra_scripts %}{% endblock %}
    </body>
</html>
