{% extends "base.html" %}

{#{% load taggit_extras %}#}

{% block title%}
{% endblock%}

{% block extra_scripts %}
<script src="{{MEDIA_URL}}js/swfobject.js"></script>
{% endblock %}

{% block content %}


<div id="home-boxes" class="clearfix">

    <div class="left-box box-container clearfix">
        <div class="boxed clearfix">
            <h2>Tasks</h2>
            {% include "task/task_list.html" %}
        </div>
    </div>

    <div class="right-box box-container clearfix">
        <div class="boxed clearfix">
		<h2>mood-diaries</h2>
		{% include "task/mood_diary.html" %}
        </div>

        <div class="boxed clearfix">
		<h2>digg</h2>
		{% include "task/digg.html" %}
        </div>

        <div class="boxed clearfix">
            <h2>Most used tags</h2>
            <div class="tagcloud clearfix">
               <div id="flashcloud"></div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
