{% extends "base.html" %}


{% block title%}
{% endblock%}

{% block extra_scripts %}
<script src="{{STATIC_URL}}js/task.js"></script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/task.css"/>
{% endblock %}

{% block content %}
<div id="box" class="clearfix">

    <div id="left-box" class="left-box box-container clearfix">
        <h2>Tasks</h2><h4>I want to…</h4>
        {% include "task/task_create.html" %}
        {% include "task/task_list.html" %}
    </div>

    <div id="right-box" class="right-box box-container clearfix">
        <div id="mood-box" class="boxed clearfix">
            <h2>mood-diaries</h2>
            {% include "task/mood_diary.html" %}
        </div>

        <div id="digg-box" class="boxed clearfix">
            <h2>digg</h2>
            {% include "task/digg.html" %}
        </div>

        <div id="tag-box" class="boxed clearfix">
            <h2>Most used tags</h2>
            <div class="tagcloud clearfix">
            </div>
        </div>
    </div>
</div>
{% endblock %}
